.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn a {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    text-decoration: none;
}

.table td a {
    text-decoration: none;
    color: #FF4B2B;
}