@using Tech_Support.ViewModels
@{
    List<VMUser> zaposlenici = ViewData["Employers"] as List<VMUser>;
}

<html>
    <head>
        <title>Moderator - Main</title>
        <link rel="stylesheet" href="/css/Moderator/Index.css"/>
    </head>
    <body>
        <h1>Voditelj page</h1>
        <p>Employers: </p>

        <table>
            <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>Email</th>
            </tr>
            @foreach (var item in zaposlenici)
            {
                <tr>
                    <td>@item.Ime</td>
                    <td>@item.Prezime</td>
                    <td>@item.Email</td>
                </tr>
            }
        </table>

        <form asp-action="AddEmploye" asp-controller="Moderator" method="get">
            <button class="btn btn-primary" type="submit">Add new employe</button>
        </form>
    </body>
</html>


