@model IEnumerable<Tech_Support.ViewModels.VMCompany>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Main Page</h1>
    <h3>This page is visible by everyone</h3>
</div>