USE [master]
GO
/****** Object:  Database [projekt]    Script Date: 21/09/2023 08:44:36 ******/
CREATE DATABASE [projekt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'projekt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\projekt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'projekt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\projekt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [projekt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [projekt]
GO
/****** Object:  Schema [ePodrska]    Script Date: 21/09/2023 08:44:36 ******/
CREATE SCHEMA [ePodrska]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21/09/2023 08:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ePodrska].[korisnik]    Script Date: 21/09/2023 08:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ePodrska].[korisnik](
	[korisnik_id] [int] IDENTITY(1,1) NOT NULL,
	[tip_id] [int] NOT NULL,
	[korisnicko_ime] [varchar](50) NOT NULL,
	[lozinka] [varchar](max) NULL,
	[ime] [varchar](50) NULL,
	[prezime] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[slika] [varchar](max) NULL,
	[Blocked] [bit] NOT NULL,
	[LastLogIn] [datetime2](7) NULL,
	[Zaposlen] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[korisnik_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ePodrska].[odgovor]    Script Date: 21/09/2023 08:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ePodrska].[odgovor](
	[odgovor_id] [int] IDENTITY(1,1) NOT NULL,
	[pitanje_id] [int] NOT NULL,
	[zaposlenik_id] [int] NOT NULL,
	[tekst] [varchar](max) NOT NULL,
	[datum_vrijeme_odgovora] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[odgovor_id] ASC,
	[zaposlenik_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ePodrska].[pitanje]    Script Date: 21/09/2023 08:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ePodrska].[pitanje](
	[pitanje_id] [int] IDENTITY(1,1) NOT NULL,
	[tvrtka_id] [int] NOT NULL,
	[naslov] [varchar](50) NOT NULL,
	[datum_vrijeme_pitanja] [datetime2](0) NOT NULL,
	[tekst] [varchar](max) NOT NULL,
	[slika] [varchar](max) NOT NULL,
	[video] [varchar](max) NULL,
	[Odgovoreno] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pitanje_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ePodrska].[tip_korisnika]    Script Date: 21/09/2023 08:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ePodrska].[tip_korisnika](
	[tip_id] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ePodrska].[tvrtka]    Script Date: 21/09/2023 08:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ePodrska].[tvrtka](
	[tvrtka_id] [int] IDENTITY(1,1) NOT NULL,
	[moderator_id] [int] NOT NULL,
	[naziv] [varchar](50) NOT NULL,
	[opis] [varchar](max) NULL,
	[broj_zaposlenika] [int] NOT NULL,
	[preostaliOdgovori] [int] NOT NULL,
	[zahtjev] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tvrtka_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ePodrska].[zaposlenik]    Script Date: 21/09/2023 08:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ePodrska].[zaposlenik](
	[zaposlenik_id] [int] NOT NULL,
	[korisnik_id] [int] NOT NULL,
	[tvrtka_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[zaposlenik_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230904113527_Initial-Model', N'7.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230904115718_AddColumnToKorisnikTable', N'7.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230904131929_AddColumnLastLogInDateToKorisnikTable', N'7.0.10')
GO
SET IDENTITY_INSERT [ePodrska].[korisnik] ON 

INSERT [ePodrska].[korisnik] ([korisnik_id], [tip_id], [korisnicko_ime], [lozinka], [ime], [prezime], [email], [slika], [Blocked], [LastLogIn], [Zaposlen]) VALUES (1, 0, N'admin', N'$2b$10$Ierx2.6l3UAlzmHrnqvjHulTuiiCBkpzw3jaFoZFtpvAes3uVmfV.', N'Administrator', N'Admin', NULL, N'NoImage.jpg', 0, CAST(N'2023-09-21T08:30:47.7738402' AS DateTime2), 0)
INSERT [ePodrska].[korisnik] ([korisnik_id], [tip_id], [korisnicko_ime], [lozinka], [ime], [prezime], [email], [slika], [Blocked], [LastLogIn], [Zaposlen]) VALUES (2, 0, N'voditelj', N'$2b$10$ULaGRu/32sk1y4ioOAOUjeYgdbaOzRKwvEavnKRdpbN5CQ0fyNR/q', N'voditelj', N'Vodi', NULL, N'NoImage.jpg', 0, CAST(N'2023-09-21T08:31:45.3462552' AS DateTime2), 1)
INSERT [ePodrska].[korisnik] ([korisnik_id], [tip_id], [korisnicko_ime], [lozinka], [ime], [prezime], [email], [slika], [Blocked], [LastLogIn], [Zaposlen]) VALUES (3, 0, N'pkos', N'$2b$10$lcHMTWS2MYeNAlcfxQh./.tjIVL0vgFZkT5bkzkktAtZlreUvJ9NO', N'Pero', N'Kos', NULL, N'NoImage.jpg', 0, CAST(N'2023-09-21T08:40:24.0521338' AS DateTime2), 0)
SET IDENTITY_INSERT [ePodrska].[korisnik] OFF
GO
SET IDENTITY_INSERT [ePodrska].[odgovor] ON 

INSERT [ePodrska].[odgovor] ([odgovor_id], [pitanje_id], [zaposlenik_id], [tekst], [datum_vrijeme_odgovora]) VALUES (1, 1, 1, N'Grid je više od godine dana u CSS specifikaciji i znatno olakšava slaganje rasporeda Web stranica i izradu responzivnog dizajna. Za korištenje potrebna su osnovna znanja o CSS-u. Podržan je u svim modernim web preglednicima (CanIUse). Više informacija: Mozilla Developer Documentation, W3Schools, CssTricks.', CAST(N'2018-11-01T10:30:00.0000000' AS DateTime2))
INSERT [ePodrska].[odgovor] ([odgovor_id], [pitanje_id], [zaposlenik_id], [tekst], [datum_vrijeme_odgovora]) VALUES (2, 2, 2, N'Mogu se primjerice koristiti fontovi dostupni od strane Google-a. Više informacija: Google Fonts servis.', CAST(N'2018-11-01T15:15:00.0000000' AS DateTime2))
INSERT [ePodrska].[odgovor] ([odgovor_id], [pitanje_id], [zaposlenik_id], [tekst], [datum_vrijeme_odgovora]) VALUES (3, 3, 3, N'Pokušajte s HTML5 oznakom iframe. Više informacija: W3Schools.', CAST(N'2018-11-02T11:45:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [ePodrska].[odgovor] OFF
GO
SET IDENTITY_INSERT [ePodrska].[pitanje] ON 

INSERT [ePodrska].[pitanje] ([pitanje_id], [tvrtka_id], [naslov], [datum_vrijeme_pitanja], [tekst], [slika], [video], [Odgovoreno]) VALUES (1, 1, N'Korištenje CSS Grida', CAST(N'2018-11-01T10:15:00.0000000' AS DateTime2), N'Je li u izradi Web stranice za početnike preporučeno korištenje CSS Grida kod kreiranje rasporeda elemenata?', N'https://www.w3schools.com/css/grid_columns.png', N'https://www.html5rocks.com/en/tutorials/video/basics/devstories.mp4', 1)
INSERT [ePodrska].[pitanje] ([pitanje_id], [tvrtka_id], [naslov], [datum_vrijeme_pitanja], [tekst], [slika], [video], [Odgovoreno]) VALUES (2, 1, N'Dodatni fontovi', CAST(N'2018-11-01T14:30:00.0000000' AS DateTime2), N'S obzirom da CSS ne nudi previše mogućnosti oko odabira fontova koje su alternative?', N'www.faqs.org/docs/htmltut/graphics/styles.fontfam.gif', N'', 1)
INSERT [ePodrska].[pitanje] ([pitanje_id], [tvrtka_id], [naslov], [datum_vrijeme_pitanja], [tekst], [slika], [video], [Odgovoreno]) VALUES (3, 1, N'Prikazivanje videa', CAST(N'2018-11-02T09:45:00.0000000' AS DateTime2), N'Koja HTML5 oznaka se koristi za prikazivanje videa, npr. YouTube?', N'https://www.queness.com/resources/images/14362.jpg', N'', 1)
SET IDENTITY_INSERT [ePodrska].[pitanje] OFF
GO
SET IDENTITY_INSERT [ePodrska].[tip_korisnika] ON 

INSERT [ePodrska].[tip_korisnika] ([tip_id], [naziv]) VALUES (0, N'administrator')
INSERT [ePodrska].[tip_korisnika] ([tip_id], [naziv]) VALUES (1, N'voditelj')
INSERT [ePodrska].[tip_korisnika] ([tip_id], [naziv]) VALUES (2, N'korisnik')
SET IDENTITY_INSERT [ePodrska].[tip_korisnika] OFF
GO
SET IDENTITY_INSERT [ePodrska].[tvrtka] ON 

INSERT [ePodrska].[tvrtka] ([tvrtka_id], [moderator_id], [naziv], [opis], [broj_zaposlenika], [preostaliOdgovori], [zahtjev]) VALUES (1, 2, N'Styria', N'Izrada dizajna Web stranica', 13, 70, 0)
INSERT [ePodrska].[tvrtka] ([tvrtka_id], [moderator_id], [naziv], [opis], [broj_zaposlenika], [preostaliOdgovori], [zahtjev]) VALUES (2, 18, N'NTH', N'Izrada dinamičkih Web stranica', 6, 15, 0)
INSERT [ePodrska].[tvrtka] ([tvrtka_id], [moderator_id], [naziv], [opis], [broj_zaposlenika], [preostaliOdgovori], [zahtjev]) VALUES (3, 30, N'Diverto', N'Informacijska sigurnost', 2, 29, 0)
SET IDENTITY_INSERT [ePodrska].[tvrtka] OFF
GO
INSERT [ePodrska].[zaposlenik] ([zaposlenik_id], [korisnik_id], [tvrtka_id]) VALUES (1, 3, 1)
INSERT [ePodrska].[zaposlenik] ([zaposlenik_id], [korisnik_id], [tvrtka_id]) VALUES (2, 4, 1)
INSERT [ePodrska].[zaposlenik] ([zaposlenik_id], [korisnik_id], [tvrtka_id]) VALUES (3, 5, 1)
GO
/****** Object:  Index [fk_korisnik_tip_korisnika_idx]    Script Date: 21/09/2023 08:44:37 ******/
CREATE NONCLUSTERED INDEX [fk_korisnik_tip_korisnika_idx] ON [ePodrska].[korisnik]
(
	[tip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_odgovor_dodijeljen1_idx]    Script Date: 21/09/2023 08:44:37 ******/
CREATE NONCLUSTERED INDEX [fk_odgovor_dodijeljen1_idx] ON [ePodrska].[odgovor]
(
	[zaposlenik_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_odgovor_pitanje1_idx]    Script Date: 21/09/2023 08:44:37 ******/
CREATE NONCLUSTERED INDEX [fk_odgovor_pitanje1_idx] ON [ePodrska].[odgovor]
(
	[pitanje_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_pitanje_kategorija1_idx]    Script Date: 21/09/2023 08:44:37 ******/
CREATE NONCLUSTERED INDEX [fk_pitanje_kategorija1_idx] ON [ePodrska].[pitanje]
(
	[tvrtka_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_kategorija_korisnik1_idx]    Script Date: 21/09/2023 08:44:37 ******/
CREATE NONCLUSTERED INDEX [fk_kategorija_korisnik1_idx] ON [ePodrska].[tvrtka]
(
	[moderator_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_tvrtka_has_korisnik_korisnik1_idx]    Script Date: 21/09/2023 08:44:37 ******/
CREATE NONCLUSTERED INDEX [fk_tvrtka_has_korisnik_korisnik1_idx] ON [ePodrska].[zaposlenik]
(
	[korisnik_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_tvrtka_has_korisnik_tvrtka1_idx]    Script Date: 21/09/2023 08:44:37 ******/
CREATE NONCLUSTERED INDEX [fk_tvrtka_has_korisnik_tvrtka1_idx] ON [ePodrska].[zaposlenik]
(
	[tvrtka_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [ePodrska].[korisnik] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Blocked]
GO
ALTER TABLE [ePodrska].[korisnik] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Zaposlen]
GO
ALTER TABLE [ePodrska].[pitanje] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Odgovoreno]
GO
ALTER TABLE [ePodrska].[tvrtka] ADD  CONSTRAINT [DF_tvrtka_broj_zaposlenika]  DEFAULT ((0)) FOR [broj_zaposlenika]
GO
ALTER TABLE [ePodrska].[tvrtka] ADD  CONSTRAINT [DF_tvrtka_preostaliOdgovori]  DEFAULT ((0)) FOR [preostaliOdgovori]
GO
ALTER TABLE [ePodrska].[tvrtka] ADD  CONSTRAINT [DF_tvrtka_zahtjev]  DEFAULT ((0)) FOR [zahtjev]
GO
ALTER TABLE [ePodrska].[korisnik]  WITH CHECK ADD  CONSTRAINT [fk_korisnik_tip_korisnika] FOREIGN KEY([tip_id])
REFERENCES [ePodrska].[tip_korisnika] ([tip_id])
GO
ALTER TABLE [ePodrska].[korisnik] CHECK CONSTRAINT [fk_korisnik_tip_korisnika]
GO
ALTER TABLE [ePodrska].[odgovor]  WITH CHECK ADD  CONSTRAINT [fk_odgovor_dodijeljen1] FOREIGN KEY([zaposlenik_id])
REFERENCES [ePodrska].[zaposlenik] ([zaposlenik_id])
GO
ALTER TABLE [ePodrska].[odgovor] CHECK CONSTRAINT [fk_odgovor_dodijeljen1]
GO
ALTER TABLE [ePodrska].[odgovor]  WITH CHECK ADD  CONSTRAINT [fk_odgovor_pitanje1] FOREIGN KEY([pitanje_id])
REFERENCES [ePodrska].[pitanje] ([pitanje_id])
GO
ALTER TABLE [ePodrska].[odgovor] CHECK CONSTRAINT [fk_odgovor_pitanje1]
GO
ALTER TABLE [ePodrska].[pitanje]  WITH CHECK ADD  CONSTRAINT [FK_Tvrtka1] FOREIGN KEY([tvrtka_id])
REFERENCES [ePodrska].[tvrtka] ([tvrtka_id])
GO
ALTER TABLE [ePodrska].[pitanje] CHECK CONSTRAINT [FK_Tvrtka1]
GO
ALTER TABLE [ePodrska].[tvrtka]  WITH CHECK ADD  CONSTRAINT [fk_kategorija_korisnik1] FOREIGN KEY([moderator_id])
REFERENCES [ePodrska].[korisnik] ([korisnik_id])
GO
ALTER TABLE [ePodrska].[tvrtka] CHECK CONSTRAINT [fk_kategorija_korisnik1]
GO
ALTER TABLE [ePodrska].[zaposlenik]  WITH CHECK ADD  CONSTRAINT [fk_tvrtka_has_korisnik_korisnik1] FOREIGN KEY([korisnik_id])
REFERENCES [ePodrska].[korisnik] ([korisnik_id])
GO
ALTER TABLE [ePodrska].[zaposlenik] CHECK CONSTRAINT [fk_tvrtka_has_korisnik_korisnik1]
GO
ALTER TABLE [ePodrska].[zaposlenik]  WITH CHECK ADD  CONSTRAINT [fk_tvrtka_has_korisnik_tvrtka1] FOREIGN KEY([tvrtka_id])
REFERENCES [ePodrska].[tvrtka] ([tvrtka_id])
GO
ALTER TABLE [ePodrska].[zaposlenik] CHECK CONSTRAINT [fk_tvrtka_has_korisnik_tvrtka1]
GO
USE [master]
GO
